flask
python-dotenv
langchain
langchain-community
langchain-core
langchain-groq
langchain-huggingface
langchain-text-splitters
faiss-cpu==1.7.4
torch
transformers
langsmith
requests
werkzeug
pypdf
pikepdf
gunicorn
